<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>
<a href="/auth/developer">Signing in with the developer strategy</a><br>
<a href="/auth/github">Signing in with the GitHub strategy</a>